@charset "utf-8";

	html,
	body {
		width:100%;
		margin: 0;
		font-family:"Hiragino Kaku Gothic Pro","ÉqÉâÉMÉmäpÉS Pro W3",'ÉÅÉCÉäÉI',Meiryo,"ÇlÇr ÇoÉSÉVÉbÉN","MS PGothic",sans-serif;
		line-height: 1.5;
		color:#000;
		background-color:#F9EFF1;
	}
    table {
        margin: 0px 0px 0px 20px;
    }
    th,tr,td {
        font-size: 90%;
    }
    #disButton {
	    width:120px;
	    font-size:20px;
	    font-weight:bold;
	    text-decoration:none;
	    text-align:center;
	    padding:5px 0 5px;
	    color:#fff;
	    background-color:#dcdcdc;
	    border-radius:5px;
	    margin: 0 auto;
	    cursor: pointer;
    }
    #nodisButton {
	    width:120px;
	    font-size:20px;
	    font-weight:bold;
	    text-decoration:none;
	    text-align:center;
	    padding:5px 0 5px;
	    color:#000;
	    background-color:#cc6699;
	    border-radius:5px;
	    margin: 0 auto;
	    cursor: pointer;
    }
    #disButtonW {
	    width:150px;
	    font-size:24px;
	    font-weight:bold;
	    text-decoration:none;
	    text-align:center;
	    padding:5px 0 5px;
	    color:#fff;
	    background-color:#dcdcdc;
	    border-radius:5px;
	    margin: 0 auto;
	    cursor: pointer;
    }
    #nodisButtonW {
	    width:150px;
	    font-size:24px;
	    font-weight:bold;
	    text-decoration:none;
	    text-align:center;
	    padding:5px 0 5px;
	    color:#000;
	    background-color:#cc6699;
	    border-radius:5px;
	    margin: 0 auto;
	    cursor: pointer;
    }
